.uberschrift{
	font-family: arial, helvetica, sans-serif;
	font-style: bold;
	font-size: 40px;
	padding-left: 60px;
	margin-bottom: 80px;
}
.nav-links ul li{
	list-style: none;
	display: inline-block;
	padding: 15px 2px;
	position: relative;
	margin-right: 60px;
}
.nav-links ul li a{
	font-family: arial, helvetica, sans-serif;
	font-size: normal;
	font-size: 15px;
	text-decoration: none;
}
.nav-links{
	text-align: right;
}
.nav-links ul li::after{
	content: "";
	width: 0%;
	height: 2px;
	background: #af7de3;
	display: block;
	margin: auto;
	transition: 0.5s;
}
.nav-links ul li:hover::after{
	width: 100%;
}
body{
	background-color: #FFFFFF;
}
.about{
	font-family: arial, helvetica, sans-serif;
	font-style: normal;
	font-size: 15px;
	text-align: center;
	margin-top: 450px;
	margin-bottom: 30px;
	color: #af7de3;
}
.verkauf-text{
	font-family: arial, helvetica, sans-serif;
	font-style: normal;
	font-size: 15px;
	padding-left: 60px;
	margin-bottom: 60px;
	margin-right: 60px;
}
.flex-one{
	padding-left: 380px;
	float: left;
	width: 200px;
	height: 250px;
	font-family: arial, helvetica, sans-serif;
	font-size: 14px;
}
.flex-two{
	padding-left: 80px;
	float: left;
	width: 200px;
	height: 250px;
	font-family: arial, helvetica, sans-serif;
	font-size: 14px;
}
.flex-three{
	padding-left: 80px;
	float: left;
	width: 200px;
	height: 250px;
	font-family: arial, helvetica, sans-serif;
	font-size: 14px;
}